/node_modules
/public/hot
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
/storage/framework/data/*
/storage/logs/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
