.header {
	color: #262626;
}
.markdown {
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	font-size: 15px;
	color: #262626;
	line-height: 1.7;
}
h1 {
	font-size: 15px;
	font-weight: 600;
}
p {
	font-size: 15px;
	line-height: 1.7;
	margin-bottom: 0;
}
hr {
	margin-top: 6px;
	margin-bottom: 6px;
}
h1, ul {
	margin-bottom: 0;
}
.suojin1 {
	text-indent:40px;
}
.suojin2 {
	text-indent:80px;
}
.suojin3 {
	text-indent:120px;
}
.suojin4 {
	text-indent:160px;
}
.red {
	color: #EE5037;
}
.blue {
	color: #3078EF;
}
.highlight {
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	background: #EE5037;
    padding: 3px 6px;
    border-radius: 3px;
    color: #f9fafa;
    margin: 5px;
    border: 1px solid #EE5037;
    overflow-x: auto;
    font-size: 15px;
}
.alert {
	margin-top: 10px;
	margin-bottom: 10px;
}
table thead th {
	font-size: 15px;
	font-weight: bold;
}
table tbody td {
	font-size: 15px;
}
pre.prettyprint {
	margin-top: 10px;
	margin-bottom: 10px;
}
img {
	max-width:100%;
}